{% extends "viagens_prestacoes/base.html" %}
{% block prestacao_conteudo %}
  <section class="reg pc-link">
    <h2 class="reg__t">{% include "components/icon.html" with nome="shield" %}Link de assinatura gerado</h2>
    <p class="pc-nota">Copie o link e envie ao signatário. Ele é exibido somente nesta emissão e vale até <b>{{ expira_em|date:"d/m/Y H:i" }}</b>.</p>
    <p class="pc-link__url"><a id="link-assinatura" href="{{ link }}" target="_blank" rel="noreferrer noopener">{{ link }}</a></p>
    <div class="pc-acoes-linha">
      <button type="button" class="btn-primaria" data-copiar="#link-assinatura">{% include "components/icon.html" with nome="clipboard" %}Copiar link</button>
      <a class="btn--secundaria" href="{{ voltar_url }}">{% include "components/icon.html" with nome="chevron-left" %}Voltar ao documento</a>
    </div>
  </section>
{% endblock %}
