{% load estaticos %}{% comment %}
  CSS e scripts do editor de documento embutido. Uma vez por página, no
  formulário que tem o visualizador (os scripts se protegem contra repetição).
{% endcomment %}<link rel="stylesheet" href="{% estatico 'css/pages/viagens-documento.css' %}">
<script src="{% estatico 'js/multi-pick.js' %}" defer></script>
<script src="{% estatico 'js/viagens-documento.js' %}" defer></script>
<script src="{% estatico 'js/documento-editor.js' %}" defer></script>
<script src="{% estatico 'js/documento-embutido.js' %}" defer></script>
